@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Get rid of all default margins/paddings. Set typeface */
body {
  background-color: #CCEDD2;
  font-family: "lato", sans-serif;
  color: #3C4146;
  margin: 0;
}

main {
  position: relative;
  min-height: 100vh;
}

.container {
  padding: 100px 130px 150px;
}

.warning {
  color: red;
}

/*for navbar*/
nav img {
  height: 80px;
  margin-left: 40px;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
}

nav * {
display: inline;
}

nav li {
margin: 20px;
}

nav li a {
color: black;
text-decoration: none;
}


/* footer */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #76BA99;
  color: #EFFCEF;
  text-align: center;
  padding: 28px 0;
}

footer div:not(:last-child) {
  margin-bottom: 6px;
}

footer a {
  color: #EFFCEF;
}


/* Sign up and Login Form */
#signupForm, #loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  margin: auto;
}

.inputContainer {
  width: 85%;
  margin-bottom: 20px;
}

.inputContainer label {
  display: block;
  margin-bottom: 6px;
}

.inputContainer input {
  height: 45px;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
}

input:focus {
  border: 2px solid green;
}

.title {
  font-size: 50px;
}

.submit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#submitBtn {
  display: block;
  padding: 15px 30px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  margin: 30px 0;
}

#submitBtn:hover:not(:disabled) {
  cursor: pointer;
  background-color: #9867C5;
}

#submitBtn:disabled {
  background-color: darkgray;
  color: black;
}


/* order history table */

table {
  border: none;
  width: 100%;
  border-spacing: 2px;
}

th {
  padding: 16px;
  color: #EFFCEF;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: #A0D995;
}

tr:nth-of-type(odd) {
  background-color: #6CC4A1;
}

tr:first-of-type {
  background-color: #655C56;
}

